<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294036523187-g5g2e8op94b7loio0m0bjkdbb4q4ft5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294036523187-g5g2e8op94b7loio0m0bjkdbb4q4ft5b</string>
	<key>API_KEY</key>
	<string>AIzaSyDnf9Fbm8xmO1E3HmUCSZ4BQ-5BUIA-KPU</string>
	<key>GCM_SENDER_ID</key>
	<string>294036523187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.miraimu.motokosan</string>
	<key>PROJECT_ID</key>
	<string>motokosan-a5567</string>
	<key>STORAGE_BUCKET</key>
	<string>motokosan-a5567.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294036523187:ios:123a1a3b3e3d7c8256c8c6</string>
	<key>DATABASE_URL</key>
	<string>https://motokosan-a5567.firebaseio.com</string>
</dict>
</plist>